    .p-content {
      text-align: justify;
      line-height: 2.5;
      color: black;
    }

    .ads {
      opacity: 0;
    }

    .fa-bars {
      font-size: 1.7rem;
    }
  .p-content > h5 {
    /*  margin-bottom: -1rem;*/
    }
    h1 {
      font-weight:bold;
    }
    .posts h5 {
      font-weight: bold;
      line-height:normal !important;
    }
    .posts {
      line-height: 1.6;
      text-align: justify;
    }
    
.posts img {
  
}
.navlink {
  
}
